@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.sidebar-transition {
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .sidebar-transition {
    transform: none !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}